In [5]:
import pandas as pd

# Load input file
df = pd.read_csv("caiso_dam_lmp_parallel.csv")
print(f"✅ Loaded {len(df)} rows.")

# Create the new formatted dataframe
df_new = pd.DataFrame()

# Map the columns
df_new['timestamp_utc'] = pd.to_datetime(df['INTERVALSTARTTIME_GMT'], errors='coerce')
df_new['iso'] = 'CAISO'
df_new['Location Name'] = df['NODE']
df_new['Location Type'] = 'Node'
df_new['LMP'] = df['MW']
df_new['MCC'] = pd.NA  # Empty / blank
df_new['MLC'] = pd.NA  # Empty / blank

# Save the new dataframe
df_new.to_csv("cleaned_caiso_data.csv", index=False)
print(f"✅ Reformatted file saved to cleaned_caiso_data.csv")

✅ Loaded 3836736 rows.
✅ Reformatted file saved to cleaned_caiso_data.csv

In [6]:
df = pd.read_csv("cleaned_caiso_data.csv")

In [10]:
df.head()

,timestamp_utc,iso,Location Name,Location Type,LMP,MCC,MLC
0,2023-01-05 20:00:00+00:00,CAISO,0096WD_7_N001,Node,168.85721,NaN,NaN
1,2023-01-05 23:00:00+00:00,CAISO,0096WD_7_N001,Node,185.72755,NaN,NaN
2,2023-01-05 08:00:00+00:00,CAISO,0096WD_7_N001,Node,154.94614,NaN,NaN
3,2023-01-06 04:00:00+00:00,CAISO,0096WD_7_N001,Node,196.38504,NaN,NaN
4,2023-01-06 03:00:00+00:00,CAISO,0096WD_7_N001,Node,200.08688,NaN,NaN