In [1]:
import pandas as pd

In [2]:
caiso = pd.read_csv('caiso_dam_lmp_parallel.csv')
caiso

,INTERVALSTARTTIME_GMT,INTERVALENDTIME_GMT,OPR_DT,OPR_HR,OPR_INTERVAL,NODE_ID_XML,NODE_ID,NODE,MARKET_RUN_ID,LMP_TYPE,XML_DATA_ITEM,PNODE_RESMRID,GRP_TYPE,POS,MW,GROUP
0,2023-02-05T10:00:00-00:00,2023-02-05T11:00:00-00:00,2023-02-05,3,0,0096WD_7_N001,0096WD_7_N001,0096WD_7_N001,DAM,LMP,LMP_PRC,0096WD_7_N001,ALL,1,49.54410,1
1,2023-02-05T23:00:00-00:00,2023-02-06T00:00:00-00:00,2023-02-05,16,0,0096WD_7_N001,0096WD_7_N001,0096WD_7_N001,DAM,LMP,LMP_PRC,0096WD_7_N001,ALL,1,5.92303,1
2,2023-02-05T19:00:00-00:00,2023-02-05T20:00:00-00:00,2023-02-05,12,0,0096WD_7_N001,0096WD_7_N001,0096WD_7_N001,DAM,LMP,LMP_PRC,0096WD_7_N001,ALL,1,-2.90810,1
3,2023-02-06T05:00:00-00:00,2023-02-06T06:00:00-00:00,2023-02-05,22,0,0096WD_7_N001,0096WD_7_N001,0096WD_7_N001,DAM,LMP,LMP_PRC,0096WD_7_N001,ALL,1,53.76211,1
4,2023-02-06T04:00:00-00:00,2023-02-06T05:00:00-00:00,2023-02-05,21,0,0096WD_7_N001,0096WD_7_N001,0096WD_7_N001,DAM,LMP,LMP_PRC,0096WD_7_N001,ALL,1,58.37910,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15355699,2023-11-24T10:00:00-00:00,2023-11-24T11:00:00-00:00,2023-11-24,3,0,ZP26SLAK_5_N001,ZP26SLAK_5_N001,ZP26SLAK_5_N001,DAM,LMP,LMP_PRC,ZP26SLAK_5_N001,ALL,1,44.41208,16298
15355700,2023-11-24T14:00:00-00:00,2023-11-24T15:00:00-00:00,2023-11-24,7,0,ZP26SLAK_5_N001,ZP26SLAK_5_N001,ZP26SLAK_5_N001,DAM,LMP,LMP_PRC,ZP26SLAK_5_N001,ALL,1,53.47309,16298
15355701,2023-11-24T19:00:00-00:00,2023-11-24T20:00:00-00:00,2023-11-24,12,0,ZP26SLAK_5_N001,ZP26SLAK_5_N001,ZP26SLAK_5_N001,DAM,LMP,LMP_PRC,ZP26SLAK_5_N001,ALL,1,-0.70840,16298
15355702,2023-11-24T22:00:00-00:00,2023-11-24T23:00:00-00:00,2023-11-24,15,0,ZP26SLAK_5_N001,ZP26SLAK_5_N001,ZP26SLAK_5_N001,DAM,LMP,LMP_PRC,ZP26SLAK_5_N001,ALL,1,1.46371,16298
15355703,2023-11-25T02:00:00-00:00,2023-11-25T03:00:00-00:00,2023-11-24,19,0,ZP26SLAK_5_N001,ZP26SLAK_5_N001,ZP26SLAK_5_N001,DAM,LMP,LMP_PRC,ZP26SLAK_5_N001,ALL,1,57.30255,16298

In [9]:
df_new = pd.DataFrame()

df_new['timestamp_utc'] = pd.to_datetime(caiso['INTERVALENDTIME_GMT'], errors='coerce')
df_new['iso'] = 'CAISO'
df_new['Location Name'] = caiso['NODE']
df_new['Location Type'] = 'Node'
df_new['LMP'] = caiso['MW']
df_new['MCC'] = pd.NA  
df_new['MLC'] = pd.NA  

df_new = df_new.sort_values('timestamp_utc').reset_index(drop=True)

In [10]:
df_new = df_new.set_index('timestamp_utc')
df_new

,iso,Location Name,Location Type,LMP,MCC,MLC
timestamp_utc,,,,,,
2023-01-01 09:00:00+00:00,CAISO,LCST_LNODE133,Node,118.74741,NaN,NaN
2023-01-01 09:00:00+00:00,CAISO,DODGEFLT_3_PV_UNITGNODE,Node,119.47802,NaN,NaN
2023-01-01 09:00:00+00:00,CAISO,ZAFARANO_LNODERANO,Node,116.92091,NaN,NaN
2023-01-01 09:00:00+00:00,CAISO,LION_MTN_2_G01GNODE,Node,118.97877,NaN,NaN
2023-01-01 09:00:00+00:00,CAISO,DODGEFLT_3_BESS_UNITGNODE,Node,119.47802,NaN,NaN
...,...,...,...,...,...,...
2023-12-30 08:00:00+00:00,CAISO,MAUPIN_LNODESSA,Node,47.89106,NaN,NaN
2023-12-30 08:00:00+00:00,CAISO,SPCMPNY_7_B1,Node,48.79439,NaN,NaN
2023-12-30 08:00:00+00:00,CAISO,CZF_2_COWFALLS_PLANT-APND,Node,47.88129,NaN,NaN
2023-12-30 08:00:00+00:00,CAISO,MAWP_GNODEAWP,Node,47.63227,NaN,NaN
2023-12-30 08:00:00+00:00,CAISO,ZP26SLAK_5_N001,Node,48.02290,NaN,NaN

In [11]:
df_new.to_csv()