In [44]:
import pandas as pd
all_data = pd.read_excel('queues_2024.xlsx', sheet_name=1)
all_data

,q_id,q_status,q_date,q_year,ia_date,wd_date,on_date,entity,project_name,developer,...,prop_year,IA_status_raw,IA_status_clean,type_clean,type1,type2,type3,mw1,mw2,mw3
0,GIA-50,withdrawn,12/18/2014,2014.0,NaN,NaN,NaN,AEC,NaN,NaN,...,2016.0,Withdrawn,Withdrawn,Wind,Wind,NaN,NaN,300.0,NaN,NaN
1,GIA-105,active,7/21/2022,2022.0,NaN,NaN,NaN,AEC,NaN,NaN,...,2025.0,FS,Facilities Study,Gas,Gas,NaN,NaN,460.0,NaN,NaN
2,GIA-83,active,6/19/2019,2019.0,NaN,NaN,NaN,AEC,NaN,NaN,...,2025.0,GIA,IA Executed,Wind,Wind,NaN,NaN,1018.0,NaN,NaN
3,GIA-113,active,1/13/2023,2023.0,NaN,NaN,NaN,AEC,NaN,NaN,...,2026.0,SIS,System Impact Study,Wind,Wind,NaN,NaN,500.0,NaN,NaN
4,GIA-73,withdrawn,11/19/2018,2018.0,NaN,NaN,NaN,AEC,NaN,NaN,...,2021.0,Withdrawn,Withdrawn,Solar,Solar,NaN,NaN,300.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32508,2023-G2,active,3/1/2023,2023.0,NaN,NaN,NaN,WAPA-SN,NaN,NaN,...,NaN,"FEC,SISE",System Impact Study,Solar+Battery,Solar,Battery,NaN,800.0,NaN,NaN
32509,2015-G1,withdrawn,1/26/2015,2015.0,NaN,NaN,NaN,WAPA-SN,NaN,NaN,...,NaN,"FENR, SISC, FSE, W",Facility Study,Solar,Solar,NaN,NaN,26.0,NaN,NaN
32510,2023-G3,withdrawn,3/24/2023,2023.0,NaN,NaN,NaN,WAPA-SN,NaN,NaN,...,NaN,Scoping,Not Started,Solar+Battery,Solar,Battery,NaN,100.0,NaN,NaN
32511,2019-G1,active,8/8/2019,2019.0,NaN,NaN,NaN,WAPA-SN,NaN,NaN,...,NaN,"FEC, SISC, FSE",Facility Study,Solar+Battery,Solar,Battery,NaN,300.0,NaN,NaN
32512,2017-G2,withdrawn,9/19/2017,2017.0,NaN,NaN,NaN,WAPA-SN,NaN,NaN,...,NaN,"FENR, SISC, W",System Impact Study,Solar+Battery,Solar,Battery,NaN,100.0,NaN,NaN

In [45]:
all_data.columns

Index(['q_id', 'q_status', 'q_date', 'q_year', 'ia_date', 'wd_date', 'on_date',
       'entity', 'project_name', 'developer', 'utility', 'county_1',
       'county_2', 'county_3', 'state', 'region', 'service', 'poi_name',
       'prop_date', 'prop_year', 'IA_status_raw', 'IA_status_clean',
       'type_clean', 'type1', 'type2', 'type3', 'mw1', 'mw2', 'mw3'],
      dtype='object')

In [46]:
def standardize_dates(series):
    return pd.to_datetime(series, 
                          infer_datetime_format=True,
                          errors='coerce')

In [47]:
all_data['q_date_standardized'] = standardize_dates(all_data['q_date'])

In [53]:
cutoff = pd.Timestamp('2022-01-01')
filtered_data = all_data.loc[all_data['q_date_standardized'] >= cutoff]
filtered_data

,q_id,q_status,q_date,q_year,ia_date,wd_date,on_date,entity,project_name,developer,...,IA_status_raw,IA_status_clean,type_clean,type1,type2,type3,mw1,mw2,mw3,q_date_standardized
1,GIA-105,active,7/21/2022,2022.0,NaN,NaN,NaN,AEC,NaN,NaN,...,FS,Facilities Study,Gas,Gas,NaN,NaN,460.0,NaN,NaN,2022-07-21
3,GIA-113,active,1/13/2023,2023.0,NaN,NaN,NaN,AEC,NaN,NaN,...,SIS,System Impact Study,Wind,Wind,NaN,NaN,500.0,NaN,NaN,2023-01-13
6,GIA-97,withdrawn,1/7/2022,2022.0,NaN,NaN,NaN,AEC,NaN,NaN,...,Withdrawn,Withdrawn,Solar,Solar,NaN,NaN,350.0,NaN,NaN,2022-01-07
13,GIA-104,active,7/21/2022,2022.0,NaN,NaN,NaN,AEC,NaN,NaN,...,FS,Facilities Study,Gas,Gas,NaN,NaN,460.0,NaN,NaN,2022-07-21
15,GIA-106,active,8/16/2022,2022.0,NaN,NaN,NaN,AEC,NaN,NaN,...,FS,Facilities Study,Solar,Solar,NaN,NaN,350.0,NaN,NaN,2022-08-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32505,2023-G1,active,3/1/2023,2023.0,NaN,NaN,NaN,WAPA-SN,NaN,NaN,...,"FEC,SISE",System Impact Study,Solar+Battery,Solar,Battery,NaN,800.0,NaN,NaN,2023-03-01
32506,2023-G4,active,8/22/2023,2023.0,NaN,NaN,NaN,WAPA-SN,NaN,NaN,...,FEE,Feasibility Study,Solar+Battery,Solar,Battery,NaN,100.0,NaN,NaN,2023-08-22
32507,2022-G1,withdrawn,10/7/2022,2022.0,NaN,NaN,NaN,WAPA-SN,NaN,NaN,...,"FEC, W",Feasibility Study,Solar+Battery,Solar,Battery,NaN,300.0,NaN,NaN,2022-10-07
32508,2023-G2,active,3/1/2023,2023.0,NaN,NaN,NaN,WAPA-SN,NaN,NaN,...,"FEC,SISE",System Impact Study,Solar+Battery,Solar,Battery,NaN,800.0,NaN,NaN,2023-03-01
32510,2023-G3,withdrawn,3/24/2023,2023.0,NaN,NaN,NaN,WAPA-SN,NaN,NaN,...,Scoping,Not Started,Solar+Battery,Solar,Battery,NaN,100.0,NaN,NaN,2023-03-24

In [52]:
# verifying that cutoff was correctly implemented
filtered_data.sort_values(by='q_date_standardized')

,q_id,q_status,q_date,q_year,ia_date,wd_date,on_date,entity,project_name,developer,...,IA_status_raw,IA_status_clean,type_clean,type1,type2,type3,mw1,mw2,mw3,q_date_standardized
25768,AH2-066,active,1/4/2022,2022.0,NaN,NaN,NaN,PJM,NaN,NaN,...,In Progress,Feasibility Study,Solar,Solar,NaN,NaN,5.0,NaN,NaN,2022-01-04
1862,L0511,withdrawn,1/4/2022,2022.0,NaN,NaN,NaN,BPA,Ponderay Renewable Fiber and Blockchain Center...,Pend Oreille County PUD No. 1,...,NaN,Withdrawn,Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,2022-01-04
1833,L0512,active,1/6/2022,2022.0,NaN,NaN,NaN,BPA,Mint Farm - AE Inc,Public Utility District No. 1 of Cowlitz County,...,NaN,In Progress (unknown study),Unknown,Unknown,NaN,NaN,NaN,NaN,NaN,2022-01-06
7055,24INR0170,withdrawn,1/6/2022,2022.0,NaN,NaN,NaN,ERCOT,Percy Farm Solar 2,AELIUS SOLAR CORP,...,FIS & SS Incomplete,System Impact Study,Solar,Solar,NaN,NaN,97.0,NaN,NaN,2022-01-06
8096,23INR0438,withdrawn,1/6/2022,2022.0,NaN,10/3/2022,NaN,ERCOT,Eiffel Solar II,"PARIS SOLAR FARM, LLC",...,FIS Complete,Facility Study,Solar,Solar,NaN,NaN,42.0,NaN,NaN,2022-01-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8634,GI-117,operational,12/31/2023,2023.0,NaN,NaN,NaN,GTC,SR DeSoto I,NaN,...,Operational,Operational,Solar,Solar,NaN,NaN,125.0,NaN,NaN,2023-12-31
8636,GI-080,operational,12/31/2023,2023.0,NaN,NaN,NaN,GTC,Weyerhaeuser TG#2,NaN,...,Operational,Operational,Other,Biomass,NaN,NaN,42.0,NaN,NaN,2023-12-31
8638,GI-070,operational,12/31/2023,2023.0,NaN,NaN,NaN,GTC,Flint River (aka Weyerhaeuser),NaN,...,Operational,Operational,Other,Biomass,NaN,NaN,15.0,NaN,NaN,2023-12-31
8630,GI-032,operational,12/31/2023,2023.0,NaN,NaN,NaN,GTC,Fall Line Hydro (aka Tallasee Shoals),NaN,...,Operational,Operational,Hydro,Hydro,NaN,NaN,4.0,NaN,NaN,2023-12-31
8664,GI-073,operational,12/31/2023,2023.0,NaN,NaN,NaN,GTC,Simon Solar Farm,NaN,...,Operational,Operational,Solar,Solar,NaN,NaN,30.0,NaN,NaN,2023-12-31

In [54]:
filtered_data['ia_date_standardized'] = standardize_dates(filtered_data['ia_date'])
filtered_data['wd_date_standardized'] = standardize_dates(filtered_data['wd_date'])
filtered_data['on_date_standardized'] = standardize_dates(filtered_data['on_date'])

/var/folders/s5/3y73n7d966b04_w4__8xvr3c0000gn/T/ipykernel_8892/3940641897.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['ia_date_standardized'] = standardize_dates(filtered_data['ia_date'])
/var/folders/s5/3y73n7d966b04_w4__8xvr3c0000gn/T/ipykernel_8892/3940641897.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['wd_date_standardized'] = standardize_dates(filtered_data['wd_date'])
/var/folders/s5/3y73n7d966b04_w4__8xvr3c0000gn/T/ipykernel_8892/3940641897.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['on_date_standardized'] = standardize_dates(filtered_data['on_date'])

In [77]:
# q_date: date when project entered queue
# ia_date: date of signed interconnection agreement
# wd_date: date project withdrawn from queue
# on_date: date project became operational

selected_cols = ['q_id', 'entity', 'q_date_standardized', 
                 'ia_date_standardized', 'wd_date_standardized', 'on_date_standardized']

In [56]:
filtered_data[selected_cols]

,q_id,entity,q_date_standardized,ia_date_standardized,wd_date_standardized,on_date_standardized
1,GIA-105,AEC,2022-07-21,NaT,NaT,NaT
3,GIA-113,AEC,2023-01-13,NaT,NaT,NaT
6,GIA-97,AEC,2022-01-07,NaT,NaT,NaT
13,GIA-104,AEC,2022-07-21,NaT,NaT,NaT
15,GIA-106,AEC,2022-08-16,NaT,NaT,NaT
...,...,...,...,...,...,...
32505,2023-G1,WAPA-SN,2023-03-01,NaT,NaT,NaT
32506,2023-G4,WAPA-SN,2023-08-22,NaT,NaT,NaT
32507,2022-G1,WAPA-SN,2022-10-07,NaT,NaT,NaT
32508,2023-G2,WAPA-SN,2023-03-01,NaT,NaT,NaT
32510,2023-G3,WAPA-SN,2023-03-24,NaT,NaT,NaT

In [60]:
filtered_data['region'].value_counts()

West (non-ISO)         1766
PJM                    1000
Southeast (non-ISO)     899
ERCOT                   569
CAISO                   551
SPP                     350
NYISO                   299
ISO-NE                  231
Name: region, dtype: int64

In [61]:
filtered_data['region'] = filtered_data['region'].replace('NYISO', 'ISO-NY')

/var/folders/s5/3y73n7d966b04_w4__8xvr3c0000gn/T/ipykernel_8892/1733468593.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['region'] = filtered_data['region'].replace('NYISO', 'ISO-NY')

In [62]:
selected_entities = ['PJM', 'ERCOT', 'CAISO', 'SPP', 'ISO-NY', 'ISO-NE']

In [65]:
filtered_data = filtered_data[filtered_data['region'].isin(selected_entities)]
filtered_data

,q_id,q_status,q_date,q_year,ia_date,wd_date,on_date,entity,project_name,developer,...,type1,type2,type3,mw1,mw2,mw3,q_date_standardized,ia_date_standardized,wd_date_standardized,on_date_standardized
2140,caiso_c15_513,active,4/17/2023,2023.0,NaN,NaN,NaN,CAISO,Musketeers Solar 2,NaN,...,Solar,Battery,NaN,524.0,270.0,NaN,2023-04-17,NaT,NaT,NaT
2142,caiso_c15_182,active,4/17/2023,2023.0,NaN,NaN,NaN,CAISO,Zeitgeist K Energy Center,NaN,...,Battery,NaN,NaN,258.0,NaN,NaN,2023-04-17,NaT,NaT,NaT
2144,caiso_c15_92,active,4/17/2023,2023.0,NaN,NaN,NaN,CAISO,Greyhound Storage,NaN,...,Battery,NaN,NaN,1000.0,NaN,NaN,2023-04-17,NaT,NaT,NaT
2146,caiso_c15_521,active,4/17/2023,2023.0,NaN,NaN,NaN,CAISO,Lynchpin Solar,NaN,...,Solar,Battery,NaN,164.0,162.0,NaN,2023-04-17,NaT,NaT,NaT
2148,caiso_c15_28,active,4/17/2023,2023.0,NaN,NaN,NaN,CAISO,FORTIS 2,NaN,...,Battery,NaN,NaN,206.0,NaN,NaN,2023-04-17,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31000,GEN-2023-116,active,10/2/2023,2023.0,NaN,NaN,8/30/2030,SPP,NaN,NaN,...,Wind,NaN,NaN,500.0,NaN,NaN,2023-10-02,NaT,NaT,2030-08-30
31001,GEN-2022-076,active,9/7/2022,2022.0,NaN,NaN,3/15/2026,SPP,NaN,NaN,...,Solar,NaN,NaN,500.0,NaN,NaN,2022-09-07,NaT,NaT,2026-03-15
31002,GEN-2022-114,active,2/16/2023,2023.0,NaN,NaN,12/1/2027,SPP,NaN,NaN,...,Wind,NaN,NaN,250.0,NaN,NaN,2023-02-16,NaT,NaT,2027-12-01
31005,GEN-2022-021,active,6/8/2022,2022.0,NaN,NaN,6/1/2024,SPP,NaN,NaN,...,Battery,NaN,NaN,100.0,NaN,NaN,2022-06-08,NaT,NaT,2024-06-01
31006,GEN-2022-082,active,9/22/2022,2022.0,NaN,NaN,4/1/2025,SPP,NaN,NaN,...,Solar,NaN,NaN,180.0,NaN,NaN,2022-09-22,NaT,NaT,2025-04-01

In [66]:
filtered_data[selected_cols]

,q_id,entity,q_date_standardized,ia_date_standardized,wd_date_standardized,on_date_standardized
2140,caiso_c15_513,CAISO,2023-04-17,NaT,NaT,NaT
2142,caiso_c15_182,CAISO,2023-04-17,NaT,NaT,NaT
2144,caiso_c15_92,CAISO,2023-04-17,NaT,NaT,NaT
2146,caiso_c15_521,CAISO,2023-04-17,NaT,NaT,NaT
2148,caiso_c15_28,CAISO,2023-04-17,NaT,NaT,NaT
...,...,...,...,...,...,...
31000,GEN-2023-116,SPP,2023-10-02,NaT,NaT,2030-08-30
31001,GEN-2022-076,SPP,2022-09-07,NaT,NaT,2026-03-15
31002,GEN-2022-114,SPP,2023-02-16,NaT,NaT,2027-12-01
31005,GEN-2022-021,SPP,2022-06-08,NaT,NaT,2024-06-01
31006,GEN-2022-082,SPP,2022-09-22,NaT,NaT,2025-04-01

In [80]:
def queue_duration(df, start, end):
    difference = df[end] - df[start]
    return difference.dt.days

In [81]:
filtered_data['ia_duration'] = queue_duration(filtered_data, 'q_date_standardized', 'ia_date_standardized')
filtered_data['wd_duration'] = queue_duration(filtered_data, 'q_date_standardized', 'wd_date_standardized')
filtered_data['on_duration'] = queue_duration(filtered_data, 'q_date_standardized', 'on_date_standardized')

/var/folders/s5/3y73n7d966b04_w4__8xvr3c0000gn/T/ipykernel_8892/3554837826.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['ia_duration'] = queue_duration(filtered_data, 'q_date_standardized', 'ia_date_standardized')
/var/folders/s5/3y73n7d966b04_w4__8xvr3c0000gn/T/ipykernel_8892/3554837826.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['wd_duration'] = queue_duration(filtered_data, 'q_date_standardized', 'wd_date_standardized')
/var/folders/s5/3y73n7d966b04_w4__8xvr3c0000gn/T/ipykernel_8892/3554837826.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['on_duration'] = queue_duration(filtered_data, 'q_date_standardized', 'on_date_standardized')

In [78]:
selected_cols = selected_cols + ['ia_duration', 'wd_duration', 'on_duration']
selected_cols

['q_id',
 'entity',
 'q_date_standardized',
 'ia_date_standardized',
 'wd_date_standardized',
 'on_date_standardized',
 'ia_duration',
 'wd_duration',
 'on_duration']

In [82]:
filtered_data[selected_cols]

,q_id,entity,q_date_standardized,ia_date_standardized,wd_date_standardized,on_date_standardized,ia_duration,wd_duration,on_duration
2140,caiso_c15_513,CAISO,2023-04-17,NaT,NaT,NaT,NaN,NaN,NaN
2142,caiso_c15_182,CAISO,2023-04-17,NaT,NaT,NaT,NaN,NaN,NaN
2144,caiso_c15_92,CAISO,2023-04-17,NaT,NaT,NaT,NaN,NaN,NaN
2146,caiso_c15_521,CAISO,2023-04-17,NaT,NaT,NaT,NaN,NaN,NaN
2148,caiso_c15_28,CAISO,2023-04-17,NaT,NaT,NaT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
31000,GEN-2023-116,SPP,2023-10-02,NaT,NaT,2030-08-30,NaN,NaN,2524.0
31001,GEN-2022-076,SPP,2022-09-07,NaT,NaT,2026-03-15,NaN,NaN,1285.0
31002,GEN-2022-114,SPP,2023-02-16,NaT,NaT,2027-12-01,NaN,NaN,1749.0
31005,GEN-2022-021,SPP,2022-06-08,NaT,NaT,2024-06-01,NaN,NaN,724.0
31006,GEN-2022-082,SPP,2022-09-22,NaT,NaT,2025-04-01,NaN,NaN,922.0

In [83]:
filtered_data['on_date_standardized'].notnull().sum()

324